@import "normalize";

body {
}

input {
  display: hidden;
  outline: none;
  border: none;
  position: absolute;
}

.main {
  background-color: rgb(0, 0, 20);
}

.box-container {
  margin: 0;
  height: 100vh;
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  background-color: red;
  height: 50px;
  pointer-events: none;
  width: 50px;
  border-radius: 10px;
}
